@function _translate_amount($stop) {
    @if $stop == null {
        @return -50%;
    } @else {
        @return 50%;
    }
}


@function _sanitise_start($start, $stop) {
    @if $start == null {
        @if $stop == null {
            @return 50%;
        } @else {
            @return null;
        }
    } @else {
        @if $stop == null {
            @return $start;
        } @else {
            @error "clashing positioning args";
        }
    }
}


@mixin absolute_position_centred($top: null, $right: null, $bottom: null, $left: null) {
    position: absolute;
    transform: translate(_translate_amount($right), _translate_amount($bottom));
    top: _sanitise_start($top, $bottom);
    right: $right;
    bottom: $bottom;
    left: _sanitise_start($left, $right);
}
