
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^to7m\.lol$ [OR]
RewriteCond %{HTTP_HOST} ^www\.to7m\.lol$
RewriteRule ^/?$ "https\:\/\/to7m\.lol\/" [R=301,L]

<FilesMatch "\.(html|php)$">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "0"
</FilesMatch>
